In [ ]:
import numpy as np
import pandas as pd
import matplotlib
import seaborn
import scipy
import sklearn
import sqlite3

In [ ]:
db = '/content/movie.sqlite'
conn = sqlite3.connect(db)
cur=conn.cursor()

In [ ]:
# cur.execute("SELECT * FROM movies")
# movies=cur.fetchall()
# movies

TRANSFORMED MOVIES DATA INTO TABLE FORMAT

In [ ]:
movies=pd.DataFrame(movies,columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])
movies

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4768,48395,El Mariachi,220000,14,1992-09-04,2040920,El Mariachi,6.6,238,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...",9367,5097
4769,48396,Newlyweds,9000,0,2011-12-26,0,Newlyweds,5.9,5,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,72766,6485
4770,48397,"Signed, Sealed, Delivered",0,1,2013-10-13,0,"Signed, Sealed, Delivered",7.0,6,"""Signed, Sealed, Delivered"" introduces a dedic...",None,231617,7108
4771,48398,Shanghai Calling,0,0,2012-05-03,0,Shanghai Calling,5.7,7,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,126186,7109
4772,48399,My Date with Drew,0,1,2005-08-05,0,My Date with Drew,6.3,16,Ever since the second grade when he first saw ...,None,25975,7110

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

In [ ]:
# cur.execute("SELECT * FROM directors")
# directors=cur.fetchall()
# directors

TRANSFORMED DIRECTORS DATA INTO TABLE FORMAT

In [ ]:
directors=pd.DataFrame(directors,columns=['name','director_id','gender','uid','dept'])
directors

                   name  director_id  gender      uid       dept
0         James Cameron          NaN       2     2710  Directing
1        Gore Verbinski          NaN       2     1704  Directing
2            Sam Mendes          NaN       2       39  Directing
3     Christopher Nolan          NaN       2      525  Directing
4        Andrew Stanton          NaN       2        7  Directing
...                 ...          ...     ...      ...        ...
2344      Shane Carruth          NaN       2    76624  Directing
2345   Neill Dela Llana          NaN       0  1174437  Directing
2346        Scott Smith          NaN       0  1219158  Directing
2347        Daniel Hsia          NaN       2   208138  Directing
2348   Brian Herzlinger          NaN       2    85563  Directing

[2349 rows x 5 columns]

TOTAL NUMBER OF MOVIES

In [ ]:
cur.execute("SELECT COUNT(TITLE) FROM movies")
count = cur.fetchall()
print(f"the total number is {count[0]}")
count[0]

the total number is (4773,)

(4773,)

In [ ]:
cur.execute("SELECT * from directors where name in ('James Cameron','Luc Besson','John Woo')")
three_director=cur.fetchall()
three_director

[('James Cameron', 4762, 2, 2710, 'Directing'),
 ('John Woo', 4893, 2, 11401, 'Directing'),
 ('Luc Besson', 4949, 2, 59, 'Directing')]

In [ ]:
cur.execute("Select * from directors where name like 'Steven%'")
steven=cur.fetchall()
steven

[('Steven Spielberg', 4799, 2, 488, 'Directing'),
 ('Steven Soderbergh', 4909, 2, 1884, 'Directing'),
 ('Steven Brill', 5013, 2, 32593, 'Directing'),
 ('Steven Zaillian', 5117, 2, 2260, 'Directing'),
 ('Steven Quale', 5216, 2, 93214, 'Directing'),
 ('Steven Seagal', 5221, 2, 23880, 'Directing'),
 ('Steven E. de Souza', 5390, 2, 1726, 'Directing'),
 ('Steven Shainberg', 5803, 2, 67795, 'Directing'),
 ('Steven R. Monroe', 6713, 2, 88039, 'Directing')]

In [ ]:
cur.execute("Select * from directors where gender=1")
female=cur.fetchall()
female=pd.DataFrame(female,columns=['name','Director_ID','gender','uid','dept'])
fem=female.count()
fem

name           150
Director_ID    150
gender         150
uid            150
dept           150
dtype: int64

TOTAL NO OF FEMALE DIRECTORS

In [ ]:
cur.execute("Select count(*) from directors where gender=1")
count=cur.fetchall()
print(f"the total number is :{count[0]}")

the total number is :(150,)

NAME OF 10th FEMALE DIRECTOR

In [ ]:
cur.execute("Select name from directors where gender=1")
tenth_female=cur.fetchall()
tenth_female[9][0]

'Angelina Jolie'

TOP 3 MOST POPULAR MOVIES

In [ ]:
cur.execute("Select title from movies order by popularity desc limit 3")
three_highest=cur.fetchall()
print(f"The three highest popularity movies are {three_highest[0][0]}, {three_highest[1][0]} AND {three_highest[2][0]}")

The three highest popularity movies are Minions, Interstellar AND Deadpool

TOP 3 MOST PROFITABLE MOVIES

In [ ]:
cur.execute("Select title from movies order by revenue desc limit 3")
highest_revenue=cur.fetchall()
print(f"The highest revenue movie is {highest_revenue[0][0]}, {highest_revenue[1][0]} and {highest_revenue[2][0]}")

The highest revenue movie is Avatar, Titanic and The Avengers

TOP 3 MOST BANKABLE MOVIES

In [ ]:
cur.execute("Select title from movies order by budget desc limit 3")
highest_budget=cur.fetchall()
print(f"The highest revenue movie is {highest_budget[0][0]}, {highest_budget[1][0]} and {highest_budget[2][0]}")

The highest revenue movie is Pirates of the Caribbean: On Stranger Tides, Pirates of the Caribbean: At World's End and Avengers: Age of Ultron

The most awarded average rated movie since Jan 1 2000

In [ ]:

cur.execute("select title from movies where release_date > '2000-01-01' order by vote_average desc limit 1")
most_awarded_avg=cur.fetchall()
print(f"The most awarded average rated movie since Jan 1 2000 is: {most_awarded_avg[0][0]}")

The most awarded average rated movie since Jan 1 2000 is: Sardaarji

In [ ]:
The movies directed by Brenda Chapman

In [ ]:
cur.execute("Select original_title from movies Join directors on directors.id=movies.director_id where directors.name = 'Brenda Chapman';")
directed_by = cur.fetchall()
print(f"The movies directed by Brenda Chapman are: {directed_by[0][0]}")

The movies directed by Brenda Chapman are: Brave

In [ ]:
movies.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
directors.columns

Index(['name', 'director_id', 'gender', 'uid', 'dept'], dtype='object')

The director with the most movies

In [ ]:
cur.execute("Select name from directors join movies on directors.id=movies.director_id group by director_id Order by count(name) desc limit 1")
director_movies=cur.fetchall()
print(f"The director with the most movies is: {director_movies[0][0]}")

The director with the most movies is: Steven Spielberg

The director with the most budget

In [ ]:
cur.execute("Select name from directors join movies on directors.id=movies.director_id group by director_id order by sum(budget) desc limit 1")
director_budget=cur.fetchall()
print(f"The director with the most budget is: {director_budget[0][0]}")

The director with the most budget is: Steven Spielberg

BUDGET ANALYSIS

In [ ]:
cur.execute("Select * from movies order by budget desc limit 10")
highest_budget=cur.fetchall()
#print(f"The highest budget movie is: {highest_budget[0][0]},{highest_budget[1][0]},{highest_budget[2][0]},{highest_budget[3][0]},{highest_budget[4][0]},{highest_budget[5][0]},{highest_budget[6][0]},{highest_budget[7][0]},{highest_budget[8][0]},{highest_budget[9][0]}")
top_10 = pd.DataFrame(highest_budget,columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])
print(top_10)
top_10.columns

      id                               original_title     budget  popularity  \
0  43614  Pirates of the Caribbean: On Stranger Tides  380000000         135
1  43598     Pirates of the Caribbean: At World's End  300000000         139
2  43604                      Avengers: Age of Ultron  280000000         134
3  43607                             Superman Returns  270000000          57
4  43601                                  John Carter  260000000          43
5  43603                                      Tangled  260000000          48
6  43602                                 Spider-Man 3  258000000         115
7  43610                              The Lone Ranger  255000000          49
8  43600                        The Dark Knight Rises  250000000         112
9  43605       Harry Potter and the Half-Blood Prince  250000000          98

  release_date     revenue                                        title  \
0   2011-05-14  1045713802  Pirates of the Caribbean: On Stranger Tides
1   2007-05-19   961000000     Pirates of the Caribbean: At World's End
2   2015-04-22  1405403694                      Avengers: Age of Ultron
3   2006-06-28   391081192                             Superman Returns
4   2012-03-07   284139100                                  John Carter
5   2010-11-24   591794936                                      Tangled
6   2007-05-01   890871626                                 Spider-Man 3
7   2013-07-03    89289910                              The Lone Ranger
8   2012-07-16  1084939099                        The Dark Knight Rises
9   2009-07-07   933959197       Harry Potter and the Half-Blood Prince

   vote_average  vote_count  \
0           6.4        4948
1           6.9        4500
2           7.3        6767
3           5.4        1400
4           6.1        2124
5           7.4        3330
6           5.9        3576
7           5.9        2311
8           7.6        9106
9           7.4        5293

                                            overview  \
0  Captain Jack Sparrow crosses paths with a woma...
1  Captain Barbossa, long believed to be dead, ha...
2  When Tony Stark tries to jumpstart a dormant p...
3  Superman returns to discover his 5-year absenc...
4  John Carter is a war-weary, former military ca...
5  When the kingdom's most wanted-and most charmi...
6  The seemingly invincible Spider-Man goes up ag...
7  The Texas Rangers chase down a gang of outlaws...
8  Following the death of District Attorney Harve...
9  As Harry begins his sixth year at Hogwarts, he...

                                          tagline    uid  director_id
0                     Live Forever Or Die Trying.   1865         4775
1  At the end of the world, the adventure begins.    285         4763
2                             A New Age Has Come.  99861         4769
3                                            None   1452         4772
4            Lost in our world, found in another.  49529         4766
5        They're taking adventure to new lengths.  38757         4768
6                              The battle within.    559         4767
7                         Never Take Off the Mask  57201         4763
8                                 The Legend Ends  49026         4765
9                           Dark Secrets Revealed    767         4770

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline',
       'uid', 'director_id'],
      dtype='object')

REVENUE ANALYSIS

In [ ]:
cur.execute("Select * from movies order by revenue desc")
highest_revenue=cur.fetchmany(10)
top10_revenue=pd.DataFrame(highest_revenue,columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])
top10_revenue

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43622,Titanic,200000000,100,1997-11-18,1845034188,Titanic,7.5,7562,"84 years later, a 101-year-old woman named Ros...",Nothing on Earth could come between them.,597,4762
2,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769
3,43625,Jurassic World,150000000,418,2015-06-09,1513528810,Jurassic World,6.5,8662,Twenty-two years after the events of Jurassic ...,The park is open.,135397,4783
4,43641,Furious 7,190000000,102,2015-04-01,1506249360,Furious 7,7.3,4176,Deckard Shaw seeks revenge against Dominic Tor...,Vengeance Hits Home,168259,4794
5,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
6,43721,Frozen,150000000,165,2013-11-27,1274219009,Frozen,7.3,5295,Young princess Anna of Arendelle dreams about ...,Only the act of true love will thaw a frozen h...,109445,4844
7,43628,Iron Man 3,200000000,77,2013-04-18,1215439994,Iron Man 3,6.8,8806,When Tony Stark's world is torn apart by a for...,Unleash the power behind the armor.,68721,4784
8,44143,Minions,74000000,875,2015-06-17,1156730962,Minions,6.4,4571,"Minions Stuart, Kevin and Bob are recruited by...","Before Gru, they had a history of bad bosses",211672,5045
9,43623,Captain America: Civil War,250000000,198,2016-04-27,1153304495,Captain America: Civil War,7.1,7241,"Following the events of Age of Ultron, the col...",Divided We Fall,271110,4781

VOTING ANALYSIS

In [ ]:
cur.execute("Select * from movies order by vote_average desc")
highest_vote=cur.fetchmany(10)
top10_vote=pd.DataFrame(highest_vote,columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])
top10_vote

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,47116,Stiff Upper Lips,0,0,1998-06-12,0,Stiff Upper Lips,10.0,1,Stiff Upper Lips is a broad parody of British ...,None,89861,6332
1,47642,"Dancer, Texas Pop. 81",0,0,1998-05-01,565592,"Dancer, Texas Pop. 81",10.0,1,"Four guys, best friends, have grown up togethe...",in the middle of nowhere they had everything,78373,5463
2,47589,Sardaarji,0,0,2015-06-26,0,Sardaarji,9.5,2,A ghost hunter uses bottles to capture trouble...,None,346081,6588
3,45983,One Man's Hero,0,0,1999-08-02,0,One Man's Hero,9.3,2,One Man's Hero tells the little-known story of...,One man's hero is another man's traitor.,69848,5770
4,45478,The Shawshank Redemption,25000000,136,1994-09-23,28341469,The Shawshank Redemption,8.5,8205,Framed in the 1940s for the double murder of h...,Fear can hold you prisoner. Hope can set you f...,278,5051
5,46567,There Goes My Baby,10500000,0,1994-09-02,123509,There Goes My Baby,8.5,2,A group of high school seniors meets in the su...,None,88641,6051
6,46393,The Prisoner of Zenda,0,4,1937-09-03,0,The Prisoner of Zenda,8.4,11,An Englishman on a Ruritarian holiday must imp...,The most thrilling swordfight ever filmed...,43867,5972
7,46934,The Godfather,6000000,143,1972-03-14,245066411,The Godfather,8.4,5893,"Spanning the years 1945 to 1955, a chronicle o...",An offer you can't refuse.,238,5179
8,44259,Fight Club,63000000,146,1999-10-15,100853753,Fight Club,8.3,9413,A ticking-time-bomb insomniac and a slippery s...,Mischief. Mayhem. Soap.,550,4829
9,45415,Schindler's List,22000000,104,1993-11-29,321365567,Schindler's List,8.3,4329,The true story of how businessman Oskar Schind...,"Whoever saves one life, saves the world entire.",424,4799

Director Analysis

In [ ]:
cur.execute("Select name,count(*) AS 'Total Movies',SUM(revenue) AS 'Total Revenue' FROM directors join movies ON movies.director_id=directors.id GROUP BY director_id ORDER BY SUM(revenue) desc")
director_analysis=cur.fetchall()
director_analysis1 = pd.DataFrame(director_analysis,columns=['name','Total Movies','Total Revenue'])
director_analysis1

                       name  Total Movies  Total Revenue
0          Steven Spielberg            27     9147393164
1             Peter Jackson             9     6498642820
2             James Cameron             7     5883569439
3               Michael Bay            12     5832524638
4         Christopher Nolan             8     4227483234
...                     ...           ...            ...
2344          David Kellogg             1              0
2345       Andrés Couturier             1              0
2346  Lucile Hadzihalilovic             1              0
2347           Henry Jaglom             1              0
2348               Bo Welch             1              0

[2349 rows x 3 columns]

In [ ]:
cur.execute("Select name,COUNT(title) AS 'Total Movies',SUM(revenue) AS 'Total Revenue' FROM directors join movies ON movies.director_id=directors.id GROUP BY director_id ORDER BY COUNT(title) desc")
director_analysis=cur.fetchall()
director_analysis1 = pd.DataFrame(director_analysis,columns=['name','Total Movies','Total Revenue'])
director_analysis1

                  name  Total Movies  Total Revenue
0     Steven Spielberg            27     9147393164
1          Woody Allen            21      669101038
2       Clint Eastwood            20     2512058888
3      Martin Scorsese            20     1956635998
4            Spike Lee            16      340618771
...                ...           ...            ...
2344    Brenda Chapman             1      538983207
2345        Peter Sohn             1      331926147
2346       Lee Unkrich             1     1066969703
2347       Dan Scanlon             1      743559607
2348      Byron Howard             1      591794936

[2349 rows x 3 columns]

In [ ]:
movies.columns

Index(['id', 'original_title', 'budget', 'popularity', 'release_date',
       'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline',
       'uid', 'director_id'],
      dtype='object')

In [ ]:
cur.execute("Select title,revenue,popularity,vote_average,budget from movies join directors on movies.director_id=directors.id where directors.name='Steven Spielberg' ")
steven_movies=cur.fetchall()
steven_movies=pd.DataFrame(steven_movies,columns=['title','revenue','popularity','vote_average','budget'])
steven_movies

,title,revenue,popularity,vote_average,budget
0,Indiana Jones and the Kingdom of the Crystal S...,786636033,75,5.7,185000000
1,The BFG,183345589,44,6.0,140000000
2,War of the Worlds,591739379,48,6.2,132000000
3,The Adventures of Tintin,371940071,89,6.7,130000000
4,Minority Report,358372926,65,7.1,102000000
5,A.I. Artificial Intelligence,235926552,34,6.8,100000000
6,The Lost World: Jurassic Park,229074524,2,6.2,73000000
7,The Terminal,219417255,57,7.0,60000000
8,Munich,130358911,29,6.9,70000000
9,Hook,300854823,33,6.6,70000000
10,War Horse,177584879,29,7.0,66000000
11,Saving Private Ryan,481840909,76,7.9,70000000
12,Lincoln,275293450,36,6.7,65000000
13,Jurassic Park,920100000,40,7.6,63000000
14,Catch Me If You Can,352114312,73,7.7,52000000
15,Indiana Jones and the Last Crusade,474171806,80,7.6,48000000
16,Bridge of Spies,165478348,48,7.2,40000000
17,Amistad,74000000,3,6.8,36000000
18,1941,31755742,10,5.6,35000000
19,Indiana Jones and the Temple of Doom,333000000,66,7.1,28000000
20,Schindler's List,321365567,104,8.3,22000000
21,Raiders of the Lost Ark,389925971,68,7.7,18000000
22,Close Encounters of the Third Kind,303788635,52,7.2,20000000
23,The Color Purple,146292009,17,7.7,15000000
24,Jaws,470654000,50,7.5,7000000
25,E.T. the Extra-Terrestrial,792910554,56,7.3,10500000
26,Twilight Zone: The Movie,29450919,12,6.2,10000000